<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.bountylabs.periscope.openBroadcast</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>pscp</string>
        </array>
      </dict>
    </array>
    <key>NSContactsUsageDescription</key>
    <string>Periscope only accesses your contacts if you choose to sync your address book with Digits to find contacts who also use Periscope.</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
      <string>location-services</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>10.2</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.bountylabs.periscope.watchstream</string>
    </array>
    <key>CFBundleName</key>
    <string>Periscope</string>
    <key>DTSDKName</key>
    <string>iphoneos10.2</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Periscope only accesses your photo library when you choose a profile image for your profile.</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>CFBundleDisplayName</key>
    <string>Periscope</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>twitter</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Periscope only uses your location when you broadcast. You can choose to hide your precise location before each broadcast.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>14C89</string>
    <key>NSCameraUsageDescription</key>
    <string>Periscope needs access to your camera to broadcast live video.</string>
    <key>CFBundleShortVersionString</key>
    <string>1.8.15</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedExternalAccessoryProtocols</key>
    <array>
      <string>com.insta360.control</string>
      <string>com.insta360.camera</string>
      <string>com.dji.video</string>
      <string>com.dji.protocol</string>
      <string>com.dji.common</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15G1217</string>
    <key>DTPlatformBuild</key>
    <string>14C89</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Periscope uses Bluetooth to detect external cameras to broadcast from.</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>8.1</string>
    <key>CFBundleVersion</key>
    <string>12093</string>
    <key>DTXcodeBuild</key>
    <string>8C1002</string>
    <key>UIAppFonts</key>
    <array>
      <string>Frameworks/PeriscopeViewer.framework/MuseoSans_300.otf</string>
      <string>Frameworks/PeriscopeViewer.framework/MuseoSans_500.otf</string>
      <string>Frameworks/PeriscopeViewer.framework/MuseoSans_700.otf</string>
      <string>Frameworks/PeriscopeViewer.framework/ProximaNova-Light.otf</string>
      <string>Frameworks/PeriscopeViewer.framework/ProximaNova-Semibold.otf</string>
    </array>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Periscope needs access to your microphone to broadcast audio.</string>
    <key>CFBundleIdentifier</key>
    <string>com.bountylabs.periscope</string>
    <key>DTXcode</key>
    <string>0821</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>pushapi.localytics.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
        <key>public.localytics.s3.amazonaws.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>Periscope</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>PTVBundleBuildVersion</key>
    <string>v1.8.15</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
